@import "../../../../variables.scss";
@import "../../../../includes.scss";
.modal {
  @extend %fonts-params;
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
  padding-top: 5px;
  .custom-alert {
    width: 462px;
    height: 321px;
  }
  .modal-content {
    height: 100%;
    .modal-header {
      border-bottom: unset;
    }
    .modal-body {
      h4 {
        color: #979797;
        font-weight: 600;
        margin-top: 4%;
        margin-bottom: 4%;
      }
      .confirm-message {
        margin-top: 5%;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .modal-footer {
      border-top: unset;
      padding: 2rem;
    }
  }
  button {
    &.close_btn {
      cursor: pointer;
      border: none;
      background: transparent;
      position: absolute;
      top: 0px;
      right: 20px;
      font-size: 48px;
      font-weight: 100;
      width: 24px;
      height: 24px;
      &:disabled {
        cursor: progress;
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 20px;
        left: 0;
        //background: url("/assets/upload_module/close.svg") no-repeat center;
      }
    }
    &.aprove_btn {
      width: 342px;
      height: 40px;
      object-fit: contain;
      background-color: #79b829;
      border-color: transparent;
      border-radius: 20px;
      color: white;
      margin-left: 50%;
      transform: translateX(-50%);
      @extend %btn-transition;
      p {
        margin-bottom: 0;
      }
      &:disabled {
        cursor: progress;
      }
      &:hover {
        border-color: transparent;
        background-color: darken(#79b829, 10%);
      }
    }
    &.done_btn {
      width: 170px;
      height: 40px;
      object-fit: contain;
      background-color: $secondary-color-red;
      border-color: transparent;
      border-radius: 20px;
      color: white;
      margin-left: 50%;
      transform: translateX(-50%);
      @extend %btn-transition;
      p {
        margin-bottom: 0;
      }
      &:disabled {
        cursor: progress;
      }
      &:hover {
        border-color: transparent;
        background-color: darken($secondary-color-red, 10%);
      }
    }
    &.cancel_btn {
      width: 170px;
      height: 40px;
      object-fit: contain;
      background-color: lighten($secondary-color-grey, 20%);
      border-color: transparent;
      border-radius: 20px;
      color: $secondary-color-red;
      margin-left: 50%;
      transform: translateX(-50%);
      @extend %btn-transition;
      p {
        margin-bottom: 0;
      }
      &:disabled {
        cursor: progress;
      }
      &:hover {
        border-color: transparent;
        background-color: darken($secondary-color-grey, 10%);
      }
    }
  }
}
