// Declare your scss variables here and import the file in the coresponding scss file
$primary-main-color: #75bf44;
$avocado-green-primary: #5ac146;
$primary-green-disabled: #B3EBB3;
$secondary-main-color: #d57030;
$secondary-color-blue: #5a9bd5;
$secondary-color-red: #e52925;
$secondary-color-grey: #939597;
$secondary-color-white:#ffffff;
$pinkish-grey: #c4c4c4;
$pinkish-light-grey: #c5c5c5; //labels and disabled buttons
$text-grey: #6b6c6f;
$text-dark-grey: #263238;
$light-color-grey: #7c7c7c;
